@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  position: fixed;
  display: block;
  height: 100%;
  width: 100px;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 60px;
}

.sidebar .logo-style {
  border-radius: 50%;
  color: #8e05c2;
  font-weight: bolder;
}
.sidebar .logo-details {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links {
  margin-top: 10px;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
  background: #313438;
}
.sidebar .nav-links li a:hover {
  background: #313438;
}
.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-container {
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  min-width: 375px;
  width: calc(100% - 100px);
  left: 100px;
  overflow-x: hidden;
  /* overflow: hidden; */
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-container {
  width: calc(100% - 60px);
  left: 60px;
}
.home-container nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 100px);
  left: 100px;
  z-index: 100;
  padding: 0 20px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-container nav {
  left: 60px;
  width: calc(100% - 60px);
}
.home-container nav .nav-options {
  display: flex;
  color: #fff;
  list-style-type: none;
  align-items: left;
}
.home-container nav .nav-options li {
  padding: 0 30px;
}
.home-container nav .nav-options li a {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.824);
}
.home-container nav .nav-options li a.active {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  align-items: center;
}

.home-container .search-and-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 999;
}
.home-container nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}
.home-container nav .search-box {
  position: relative;
  justify-content: flex-end;
  margin-top: 20px;
  height: 50px;
  max-width: 250px;
  width: 100%;
  margin: 20px 20px;
}

.nav-btn button {
  background: none;
  color: #bdbcbf;
  padding: 5px 12px;
  border-radius: 20px;
  border: 1px solid #bdbcbf;
  margin: 0 5px;
  cursor: pointer;
}
nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 5px;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  align-items: flex-start;
  transition: all 0.4 ease;
  cursor: pointer;
  /* background: rgba(0, 0, 0, 0.8); */
}
.home-container nav .profile-details {
  display: flex;
  align-items: center;
  justify-content: end;
  background: none;
  color: #fff;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  /* padding: 0 15px 0 2px; */
}
.home-container nav .profile-details span,
img {
  cursor: pointer;
}
nav .profile-details img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border-radius: 50%;
  object-fit: cover;
}
nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin: 0 10px;
  /* white-space: nowrap; */
}
nav .profile-details i {
  font-size: 25px;
  color: #333;
}

.home-container .video-section {
  position: relative;
  padding: 140px 40px 40px 40px;
  row-gap: 20px;
  column-gap: 20px;
  flex-basis: 0;
  display: flex;
  min-width: 400px;
  height: fit-content;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.home-container .video-section .boxes {
  height: 165px;
  width: 300px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
}
.thumbnail,
.thumbnail-link {
  border-radius: 8px;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
.material-symbols-outlined {
  color: #fff;
  padding: 5px 10px;
}

.playback-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 90px 0 0 0;
  min-width: 400px;
  width: calc(100% - 10px);
  height: fit-content;
  transition: linear ease-in-out 0.s;
}

.video-box {
  min-height: 511px;
  width: min(1420px, 70%);
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
  border-radius: 8px;
  /* border: 1px solid white; */
}

.video-box iframe {
  border-radius: 8px;
  width: 100%;
  /* min-width: 1022px; */
  min-height: 511px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.recommended-sidebar {
  /* width:; */
  display: flex;
  justify-content: center;
  /* position: fixed; */
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
  height: 500px;
  column-gap: 10px;
  row-gap: 10px;
  flex-direction: column;
  /* text-align: right */
  padding: 0;
  margin: auto;
  margin-top: 50px;
}

.recommended-sidebar .boxes {
  width: 240px;
  height: 135px;
}

.video-title {
  color: #fff;
  font-size: 1.5rem;
}
.like-btn {
  cursor: pointer;
}

.heart-like {
   height: 30px;
   transition: all .2s ease-in-out;
}
.heart-like:hover {
    transform: scale(1.5);
}
.heart-icons {
    display: flex;
    column-gap: 40px;
    transition: all .2s ease-in-out;
}
.brokenHeart-like {
    transition: all .2s ease-in-out;
    height: 30px;
}
.brokenHeart-like:hover {
    transform: scale(1.5);
}
.title-row {
    margin: auto;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

/* @media only screen and (min-width: 1600px) {
  .video-box {
    width: 20%;
  }
  .playback-container {
  }
  .recommended-sidebar {
    display: flex;
  }
} */

@media only screen and (max-width: 1000px) {
    .pacman{
        display: none;
    }
}

@media only screen and (max-width: 400px) {
  .sidebar {
    display: none;
  }
  .home-container, .home-container nav{
    left: 0;
    width: 100%;
  }
}

.thumbnail-gradient {
    min-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
    filter: blur
}
.thumbnail-gradient:hover {
    border: 1px solid #ffffff;
    transition: ease-in-out 0.2s;
    transform: scale(1.2);
    
}
.video-details {
    display: flex;
    padding: 10px;
}
.creator-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #8E05C2;
}
.video-title {
    padding: 0 5px; 
    font-size: 17px;
    text-shadow: 3px 3px #000;
    margin: auto 0;
}
/* 
.pacman {
  position: relative;
  bottom: 25px;
  margin: 40px 10px;
}

.pacman-top {
    background-color: #FFFF00;
    height: 30px;
  width: 60px;
  border-radius: 100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom {
  background-color: #FFFF00;
  height: 30px;
  width: 60px;
  border-radius: 0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
  margin-top: -100px;
  margin-left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  -moz-animation: eat 1s linear 0s infinite;
  -webkit-animation: eat 1s linear 0s infinite;
  animation: eat 1s linear 0s infinite;
} */

/* Animation*/
/* 
@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-35deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
}

@-moz-keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-35deg);
  }
}
@-moz-keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
}

@-webkit-keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-35deg);
  }
}
@-webkit-keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
}

@keyframes eat {
  0% {
    box-shadow: 100px 65px 0 0 #8E05C2, 300px 65px 0 0 #8E05C2, 500px 65px 0 0 #8E05C2,
      700px 65px 0 0 #8E05C2, 900px 65px 0 0 #8E05C2, 1100px 65px 0 0 #8E05C2,
      1300px 65px 0 0 #8E05C2;
  }

  100% {
    box-shadow: 0px 65px 0 0 #8E05C2, 100px 65px 0 0 #8E05C2, 300px 65px 0 0 #8E05C2,
      500px 65px 0 0 #8E05C2, 700px 65px 0 0 #8E05C2, 900px 65px 0 0 #8E05C2,
      1100px 65px 0 0 #8E05C2;
  }
}

@-moz-keyframes eat {
  0% {
    box-shadow: 100px 65px 0 0 #8E05C2, 300px 65px 0 0 #8E05C2, 500px 65px 0 0 #8E05C2,
      700px 65px 0 0 #8E05C2, 900px 65px 0 0 #8E05C2, 1100px 65px 0 0 #8E05C2,
      1300px 65px 0 0 #8E05C2;
  }

  100% {
    box-shadow: 0px 65px 0 0 #8E05C2, 100px 65px 0 0 #8E05C2, 300px 65px 0 0 #8E05C2,
      500px 65px 0 0 #8E05C2, 700px 65px 0 0 #8E05C2, 900px 65px 0 0 #8E05C2,
      1100px 65px 0 0 #8E05C2;
  }
}

@-webkit-keyframes eat {
  0% {
    box-shadow: 100px 65px 0 0 #8E05C2, 300px 65px 0 0 #8E05C2, 500px 65px 0 0 #8E05C2,
      700px 65px 0 0 #8E05C2, 900px 65px 0 0 #8E05C2, 1100px 65px 0 0 #8E05C2,
      1300px 65px 0 0 #8E05C2;
  }

  100% {
    box-shadow: 0px 65px 0 0 #8E05C2, 100px 65px 0 0 #8E05C2, 300px 65px 0 0 #8E05C2,
      500px 65px 0 0 #8E05C2, 700px 65px 0 0 #8E05C2, 900px 65px 0 0 #8E05C2,
      1100px 65px 0 0 #8E05C2;
  }
}


 */
