@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  display: block;
  height: 100%;
  width: 100px;
  background: #fff;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 60px;
}

.sidebar .logo-style {
  border-radius: 50%;
  color: #8e05c2;
  font-weight: bolder;
}
.sidebar .logo-details {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #000;
  min-width: 60px;
  text-align: center;
}
.sidebar .logo-details .logo_name {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links {
  margin-top: 10px;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
  background: #cecece;
}
.sidebar .nav-links li a:hover {
  background: #cecece;
}
.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #000;
}
.sidebar .nav-links li a .links_name {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-container {
  position: relative;
  background: #fff;
  min-height: 100vh;
  min-width: 375px;
  width: calc(100% - 100px);
  left: 100px;
  overflow-x: hidden;
  /* overflow: hidden; */
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-container {
  width: calc(100% - 60px);
  left: 60px;
}
.left-side nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 100px);
  left: 100px;
  z-index: 100;
  padding: 0 20px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .left-side nav {
  left: 60px;
  width: calc(100% - 60px);
}
nav .nav-options {
  display: flex;
  color: #000;
  list-style-type: none;
  align-items: left;
}
nav .nav-options li {
  padding: 0 30px;
}
nav .nav-options li a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
nav .nav-options li a.active {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  align-items: center;
}

.search-and-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 999;
}
nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}
nav .search-box {
  position: relative;
  justify-content: flex-end;
  margin-top: 20px;
  height: 50px;
  max-width: 250px;
  width: 100%;
  margin: 20px 20px;
}

.nav-btn button {
  background: none;
  color: #bdbcbf;
  padding: 5px 12px;
  border-radius: 20px;
  border: 1px solid #cecece;
  margin: 0 5px;
  cursor: pointer;
}
nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #fff;
  border: 1p;
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 5px;
  border-radius: 4px;
  padding-top: 5px;
  line-height: 40px;
  text-align: center;
  color: #cecece;
  font-size: 22px;
  align-items: flex-start;
  transition: all 0.4 ease;
  cursor: pointer;
  /* background: rgba(0, 0, 0, 0.8); */
}

nav .profile-details {
  display: flex;
  align-items: center;
  justify-content: end;
  background: none;
  color: #fff;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  /* padding: 0 15px 0 2px; */
}
nav .profile-details span,
img {
  cursor: pointer;
}
nav .profile-details img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border-radius: 50%;
  object-fit: cover;
}
nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin: 0 10px;
  /* white-space: nowrap; */
}

.home-container .home-section {
  position: relative;
  row-gap: 20px;
  top: 30px;
  column-gap: 20px;
  flex-basis: 0;
  min-width: 400px;
  flex-wrap: wrap;
  border: 1px solid #000; /*delete this*/
  display: flex;
}
.left-side {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 30px;
  border: 1px solid red; /*delete this*/
}
.top-artists-row{
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
}
.top-artists-heading, .trendy-songs-heading, .podcasts-heading{
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 20px;
}
.top-artists-name-dp{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.top-artists-dp{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.318);
  border: 1px solid rgba(0, 0, 0, 0.236);
}
.top-artists-name {
  margin: auto;
}
.trendy-songs-row{
  display: flex;
  column-gap: 40px;
}
.trendy-songs-posters{
  display: flex;
}
.trendy-songs-album-cover {
  max-height: 180px;
  border-radius: 15px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.318);
  border: 1px solid rgba(0, 0, 0, 0.236);

}
.trendy-songs-album-name{
  font-size: 1rem;
  
}
.trendy-songs-album-artist{
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.836);
}

.podcasts-row{
  display: flex;
  flex-direction: column;
}
.podcast-cover{
  max-width: 180px;
  border-radius: 15px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.318);
  border: 1px solid rgba(0, 0, 0, 0.236);
}
.continue-podcast-layout {
  max-width: 180px;
  z-index: 99;  
}
.continue-podcast-layout span{
  position: relative;
  margin: auto;
}


.right-side {
  display: flex;
}
